body {
  background-image: url('https://cdn.discordapp.com/attachments/633350280192458783/668506730174349342/Capture_decran_2019-05-26_a_16.32.54.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: black;
  font-family: "Determination Mono", sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
