body {
  background-image: url('images/background.png');
  background-repeat: repeat;
  background-attachment: scroll;
  /* background-size: 100% 100%; */
  color: black;
  font-family: "Determination Mono", sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.font-1 {
  font-family: "Determination Mono", monospace;
}
